.Box1{
    display: flex;
    justify-content: space-evenly;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 10px;
    
}
.count{
    display:flex;
    justify-content: center;
    color: white;
}