.AdminNav{
    height: 7vh;
    width: 100%;
    background-color:white;
    /* position: fixed; */
}
.Webname > h1 {
    font-size: 2rem;
    background-color: aqua;
    /* Create the gradient*/
    background-image: var(--buttonBg);
    padding-bottom: 20px;
    

    /* Set the background size and repeat proper*/
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
     
}